/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";

/* Login */

html,
body {
  height: 100%;
}

body {
  min-width: 1024px;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
}

.login-body {
  display: flex;
  padding-bottom: 45px;
}

.alert {
  left: 38.5%;
  width: 23%;
  top: 50px;
  padding: 15px;
  position: fixed;
  text-align: center;
}

.form-signin {
  position: relative;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-control:focus {
  z-index: 2;
  border-color: rgb(140, 0, 0);
  box-shadow: 0 0 3px #8c0000;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin button[type="submit"] {
  background-color: #8c0000;
  border: none;
}

.form-signin button[type="submit"]:hover {
  background-color: #8c0000;
}

.text {
  position: absolute;
  color: white;
  text-shadow: 0px 0px 4px #8c0000;
  font-size: 34px;
  font-weight: bold;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  position: relative;
}

/* Dashboard */

body {
  background-color: #f5f5f5;
  padding: 0;
}

.header-login-signup {
  background-color: #8c0000;
  padding: 8px;
  height: 70px;
}

.header-login-signup .header-limiter {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

/* Logo */

.header-login-signup .header-limiter .container h1 {
  float: left;
  margin: 0;
}

.header-login-signup .header-limiter .container a {
  color: white;
  text-decoration: none;
}

.header-login-signup .header-limiter .container ul {
  float: right;
  list-style: none;
}

.header-login-signup .header-limiter .container ul li {
  display: inline-block;
  padding: 10px 0;
}

.header-login-signup .header-limiter .container ul li .btn-default:hover {
  color: #aa0000;
  background-color: #f5f5f5;
  border-color: #f0f0f0;
}

.header-login-signup .header-limiter .container ul li .btn-default {
  color: #8c0000;
  border-color: white;
}

/* Content */

.container .row {
  margin-left: -10px;
}

.table tbody > tr > td.middle {
  vertical-align: middle;
}

.media img, .fileinput .thumbnail, .thumbnail img, .media-object {
  border-radius: 60%;
}

a:focus, a:hover, .btn-circle:focus, .btn-circle:active, .btn-default:focus, .btn:focus, .btn.active:focus, .btn.active.focus, .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus {
  outline: none;
  text-decoration: none;
}

.header-login-signup .header-limiter .container ul li .btn-default:focus {
  background-color: white;
}

.media-left {
  padding: 2px 8px;
}

.media-heading {
  color: #dd5638;
  margin-bottom: 10px;
}

.media-body {
  padding-top: 15px;
  padding-left: 8px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

/* Modal */

.close {
  font-size: 25px;
  opacity: 1;
  text-shadow: none;
  color: #ffefef;
}

.close:hover {
  opacity: 1;
  color: #eddede;
}

.media-heading strong {
  vertical-align: middle;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal-open .modal {
  overflow-x: auto;
  overflow-y: auto;
}

.modal-content {
  overflow: hidden;
}

.modal-header {
  padding-bottom: 5px;
  background-color: #aa0000;
}

.modal:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  top: 5%;
  width: 450px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-body label {
  display: block;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.modal-body .col-sm-4 {
  width: auto;
  text-align: center;
}

.modal-body .col-sm-6 {
  width: auto;
  padding-top: 10px;
  padding-right: 0;
}

#profileDataModal img {
  padding: 10px 20px 10px 20px;
}

#profileDataModal td, #addDonorFormModal td {
  border-top: none;
}

#profileDataModal td {
  padding: 10px 0 0 0;
}

#profileDataModal tr:nth-child(3) td,
#profileDataModal tr:nth-child(4) td,
#profileDataModal tr:nth-child(5) td,
#profileDataModal tr:nth-child(6) td,
#profileDataModal tr:nth-child(7) td,
#profileDataModal tr:nth-child(8) td,
#profileDataModal tr:nth-child(9) td {
  padding-top: 0;
}

#profileDataModal tr:nth-child(2) td:first-child,
#profileDataModal tr:nth-child(3) td:first-child,
#profileDataModal tr:nth-child(4) td:first-child,
#profileDataModal tr:nth-child(5) td:first-child,
#profileDataModal tr:nth-child(6) td:first-child,
#profileDataModal tr:nth-child(7) td:first-child,
#profileDataModal tr:nth-child(8) td:first-child,
#profileDataModal tr:nth-child(9) td:first-child {
  text-align: right;
}

#profileDataModal tr:nth-child(2) td:nth-child(2),
#profileDataModal tr:nth-child(3) td:nth-child(2),
#profileDataModal tr:nth-child(4) td:nth-child(2),
#profileDataModal tr:nth-child(5) td:nth-child(2),
#profileDataModal tr:nth-child(6) td:nth-child(2),
#profileDataModal tr:nth-child(7) td:nth-child(2),
#profileDataModal tr:nth-child(8) td:nth-child(2),
#profileDataModal tr:nth-child(9) td:nth-child(2) {
  padding-left: 15px;
  padding-right: 30px;
}

#profileDataModal.modal-body {
  padding-bottom: 0;
}

#profileData td:first-child {
  padding-top: 0;
}

/* Confirm Remove Modal */

.modal-header-remove {
  background-color: #aa0000;
  padding: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}

/* Add Donor Form Modal */

.btn-secondary:hover {
  background-color: #cecece;
}

#addDonorFormModal .modal-body {
  padding-bottom: 27px;
}

#addDonorFormModal .modal-dialog {
  top: 5px;
  width: 700px;
}

#addDonorFormModal .modal-header {
  background-color: #aa0000;
}

.btn-primary {
  background-color: #aa0000;
  border-color: #aa0000;
}

.btn-primary:hover {
  background-color: #8c0000;
  border-color: #8c0000;
}

#addDonorFormModal .custom-col {
  padding-left: 0;
  padding-right: 10px;
  width: 205px;
}

#addDonorFormModal input[type=text], #addDonorFormModal input[type=email], #addDonorFormModal input[type=password] {
  width: 195px;
}

.custom-row {
  margin-top: 10px;
  margin-left: 20px;
  width: 650px;
}

.custom-inline-row {
  margin-left: 0;
}

.custom-form-group {
  width: 400px;
  margin-bottom: 5px;
}

.custom-with-errors {
  font-size: 13px;
}

input[type=password]#currpassword, input[type=text]#province, input[type=text]#contactno, input[type=date]#birthday {
  width: 400px;
}

.form-group#photo {
  text-align: center;
  top: 40px;
  right: 60px;
  position: absolute;
}

.circle-dotted {
  border: 2px dotted #bec2c9;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 2px 2px;
  height: 148px;
  width: 148px;
}

/* Toggle Switch */

input[type=checkbox].toggle-switch {
  font-size: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 6em;
  height: 3em;
  border-radius: 3em;
  background-color: #ddd;
  outline: 0;
  cursor: pointer;
  transition: background-color 0.09s ease-in-out;
  position: relative;
  box-shadow: 0 0 0.5em 0 rgba(100, 100, 100, 0.5) inset;
}

input[type=checkbox].toggle-switch:checked {
  background-color: #aa0000;
}

input[type=checkbox].toggle-switch::after {
  content: '';
  width: 3em;
  height: 3em;
  background-color: white;
  border-radius: 3em;
  position: absolute;
  transform: scale(0.7);
  left: 0;
  transition: left 0.09s ease-in-out;
  box-shadow: 0.1em 0.1em 0.3em 0 rgba(100, 100, 100, 0.5), 0.1em 0.1em 0.3em 0 rgba(100, 100, 100, 0.5) inset;
}

input[type=checkbox].toggle-switch:checked::after {
  left: 3em;
}